<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookmanager.bms.mapper.SuspensionRecordMapper">
    <resultMap id="BaseResultMap" type="com.bookmanager.bms.model.SuspensionRecord">
        <id column="suspensionId" property="suspensionid" jdbcType="INTEGER" />
        <result column="userId" property="userid" jdbcType="INTEGER" />
        <result column="borrowId" property="borrowid" jdbcType="INTEGER" />
        <result column="startDate" property="startDate" jdbcType="TIMESTAMP" />
        <result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
        <result column="suspensionReason" property="suspensionReason" jdbcType="VARCHAR" />
        <result column="borrowingPermission" property="borrowingPermission" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List">
        suspensionId, userId, borrowId, startDate, endDate, suspensionReason, borrowingPermission
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM suspension_record
        WHERE suspensionId = #{suspensionId, jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM suspension_record
        WHERE suspensionId = #{suspensionId, jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.bookmanager.bms.model.SuspensionRecord">
        INSERT INTO suspension_record (
            suspensionId, userId, borrowId, startDate, endDate, suspensionReason, borrowingPermission
        ) VALUES (
                     #{suspensionid, jdbcType=INTEGER},
                     #{userid, jdbcType=INTEGER},
                     #{borrowid, jdbcType=INTEGER},
                     #{startDate, jdbcType=TIMESTAMP},
                     #{endDate, jdbcType=TIMESTAMP},
                     #{suspensionReason, jdbcType=VARCHAR},
                     #{borrowingPermission, jdbcType=TINYINT}
                 )
    </insert>
    <insert id="insertSelective" parameterType="com.bookmanager.bms.model.SuspensionRecord">
        INSERT INTO suspension_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="suspensionid != null">suspensionId,</if>
            <if test="userid != null">userId,</if>
            <if test="borrowid != null">borrowId,</if>
            <if test="startDate != null">startDate,</if>
            <if test="endDate != null">endDate,</if>
            <if test="suspensionReason != null">suspensionReason,</if>
            <if test="borrowingPermission != null">borrowingPermission,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="suspensionid != null">#{suspensionid, jdbcType=INTEGER},</if>
            <if test="userid != null">#{userid, jdbcType=INTEGER},</if>
            <if test="borrowid != null">#{borrowid, jdbcType=INTEGER},</if>
            <if test="startDate != null">#{startDate, jdbcType=TIMESTAMP},</if>
            <if test="endDate != null">#{endDate, jdbcType=TIMESTAMP},</if>
            <if test="suspensionReason != null">#{suspensionReason, jdbcType=VARCHAR},</if>
            <if test="borrowingPermission != null">#{borrowingPermission, jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bookmanager.bms.model.SuspensionRecord">
        UPDATE suspension_record
        <set>
            <if test="userid != null">userId = #{userid, jdbcType=INTEGER},</if>
            <if test="borrowid != null">borrowId = #{borrowid, jdbcType=INTEGER},</if>
            <if test="startDate != null">startDate = #{startDate, jdbcType=TIMESTAMP},</if>
            <if test="endDate != null">endDate = #{endDate, jdbcType=TIMESTAMP},</if>
            <if test="suspensionReason != null">suspensionReason = #{suspensionReason, jdbcType=VARCHAR},</if>
            <if test="borrowingPermission != null">borrowingPermission = #{borrowingPermission, jdbcType=TINYINT},</if>
        </set>
        WHERE suspensionId = #{suspensionid, jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bookmanager.bms.model.SuspensionRecord">
        UPDATE suspension_record
        SET userId = #{userid, jdbcType=INTEGER},
            borrowId = #{borrowid, jdbcType=INTEGER},
            startDate = #{startDate, jdbcType=TIMESTAMP},
            endDate = #{endDate, jdbcType=TIMESTAMP},
            suspensionReason = #{suspensionReason, jdbcType=VARCHAR},
            borrowingPermission = #{borrowingPermission, jdbcType=TINYINT}
        WHERE suspensionId = #{suspensionid, jdbcType=INTEGER}
    </update>
    <select id="checkUserBorrowingSuspension" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM suspension_record
        WHERE userId = #{userId, jdbcType=INTEGER}
        AND borrowingPermission = 0
        LIMIT 1
    </select>
</mapper>